body {
  margin: 0;
  background: #f6f7fb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

h1 {
  margin-bottom: 5px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}
